body {
    font-family: 'Fjalla One', sans-serif;
    /* background-image: url('/static/images/poodle-dog.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    margin: 0;
    padding: 0; */
}

.container {
    /* margin-top: 0px;
    margin-bottom: 0px;
    min-height: 100vh; */
    background-color: rgba(213, 255, 157, 0.466);
    /* background-color: rgba(255, 251, 204, 0.7); */
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    position: relative;
    float: left;
    width: 250px;
    height: 250px;
    background-position: 100% 60%;
    background-repeat: no-repeat;
    background-size: cover;
}
h3 {
    text-align: center;
    margin-top: 80px;
}

li {
    color: red;
}

.fa-paw {
    font-size: 16px;
}

/* Top-Bar*/
.jumbotron {
    margin-top: -56px;
    background-color: #333;
}
.headline-btns {
    background-color: #333;
    font-family: 'Indie Flower', sans-serif;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1em;
}
.headline-btns:active {
    color: #8f2189;
    font-weight: bolder;
    background-color: white;
}

.headline-btns:focus {
    color: #8f2189;
    font-weight: bolder;
    background-color: white;
}

.headline-btns:hover {
    color: #8f2189;
    font-weight: bolder;
    background-color: white;
}
